name: Build DRAW

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      
      - name: Build for Linux
        uses: grymmjack/qb64pe-docker@main
        with:
          platform: 'linux'
          source-file: 'DRAW.BAS'
          project-name: 'DRAW'
          qb64pe-version: 'v4.3.0'
  
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      
      - name: Build for Windows
        uses: grymmjack/qb64pe-docker@main
        with:
          platform: 'windows'
          source-file: 'DRAW.BAS'
          project-name: 'DRAW'
          qb64pe-version: 'v4.3.0'
  
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      
      - name: Build for macOS
        uses: grymmjack/qb64pe-docker@main
        with:
          platform: 'macos'
          source-file: 'DRAW.BAS'
          project-name: 'DRAW'
          qb64pe-version: 'v4.3.0'